.skills-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center; /* Centra el contenido */
  color: white;
}

.skills-title {
  font-size: 24px;
  display: flex;
  text-align: justify;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap; /* Permite dividir en varias filas */
  justify-content: center; /* Centra los íconos */
  gap: 20px; /* Espacio entre íconos */
  max-width: 600px; /* Ajusta según tu diseño */
  margin: auto;
}

.skill {
  flex: 1 1 calc(100% / 5 - 20px); /* Distribuye en dos filas con 5 por fila */
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 60px; /* Tamaño uniforme */
  height: 60px; /* Mantiene la proporción */
  object-fit: contain;
}
