.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px;
    border-radius: 10px;
  }
  
  .about-text {
    max-width: 50%;
  }
  
  .about-image img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  