.about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 50px;
  border-radius: 10px;
  max-width: 950px;
  margin: auto;
}

.about-text {
  max-width: 60%;
}

.about-text h2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 36px;
}

.about-text p {
  font-size: 20px;
}

.about-image img {
  width: 300px;
  height: auto;
}

.about-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.button {
  display: flex;
  background-color: black;
  color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: #007bff;
}

